In [1]:
import requests
import json
import pandas as pd
import numpy as np
import urllib

In [2]:
def full_archive(repeats=1, n_per_iter=100):
    # n_per_iter between 10 and 100
    all_data = []
    payload={}
    headers = {
        'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAOPlVwEAAAAAtf8lx19Zs7sPbpF0aNEgpqESWyQ%3DHOjH5PbZpAhEUvdnhOFnk756pxFEiJw8jEghjDRQ2kgjPcUR2E',
        'Cookie': 'guest_id=v1%3A163996301247330763; guest_id_ads=v1%3A163996301247330763; guest_id_marketing=v1%3A163996301247330763; personalization_id="v1_9SgCIHHSmwVn1qJn43hrYg=="'
    }

    url = f"https://api.twitter.com/2/tweets/search/all?query=place_country:US &since_id=661212085175611392&until_id=782310395998527489&max_results={n_per_iter}&tweet.fields=created_at,author_id&expansions=author_id&user.fields=location,name,created_at"
    response = requests.request("GET", url, headers=headers, data=payload)
    response = json.loads(response.text)

    author_info_by_id = {}
    for author in response['includes']['users']:
        author_info_by_id[author['id']] = author
    for tweet in response['data']:
        author_id = tweet['author_id']
        author_info = author_info_by_id[author_id]
        tweet['author_info'] = author_info
        all_data.append(tweet)
    next_token = response['meta']['next_token']

    for _ in range(repeats - 1):
        url = f"https://api.twitter.com/2/tweets/search/all?query=place_country:US &since_id=661212085175611392&until_id=782310395998527489&max_results={n_per_iter}&next_token={next_token}&tweet.fields=created_at,author_id&expansions=author_id&user.fields=location,name,created_at"
        response = requests.request("GET", url, headers=headers, data=payload)
        response = json.loads(response.text)

        author_info_by_id = {}
        for author in response['includes']['users']:
            author_info_by_id[author['id']] = author
        for tweet in response['data']:
            author_id = tweet['author_id']
            author_info = author_info_by_id[author_id]
            tweet['author_info'] = author_info
            all_data.append(tweet)
        next_token = response['meta']['next_token']

    return all_data

In [ ]:
ret = full_archive(2, 10)

{'data': [{'created_at': '2016-10-01T20:05:06.000Z', 'text': 'Kents out üòÇüòÇ https://t.co/gZQndvl4xP', 'author_id': '707776214233128960', 'id': '782310393062494208'}, {'created_at': '2016-10-01T20:05:06.000Z', 'text': "@kjwebb50 I know what the media does. It's the female vote  hurting Trump #'s. We have to have women &amp; evangelical vote to win. I'm both.", 'author_id': '405200920', 'id': '782310392903012352'}, {'created_at': '2016-10-01T20:05:06.000Z', 'text': 'Just heard about how Peyton manning spoke to @lsu about coaching @LSUfootball', 'author_id': '128088886', 'id': '782310392714452992'}, {'created_at': '2016-10-01T20:05:06.000Z', 'text': 'Loudest roar I have ever hear on tv!! Patrick Reed is unconscious. Put that one on a string #RyderCup', 'author_id': '286887638', 'id': '782310391959347200'}, {'created_at': '2016-10-01T20:05:06.000Z', 'text': 'The parents sitting next to me are way to overexcited. Guys, they are six  you do not need to scream during every play of the game üò§üôÉ', 'author_id': '340109184', 'id': '782310391682506752'}, {'created_at': '2016-10-01T20:05:06.000Z', 'text': "@_KLani nope that's what I'm saying but I didn't overdraft it this shit not adding up", 'author_id': '959526638', 'id': '782310391649071104'}, {'created_at': '2016-10-01T20:05:06.000Z', 'text': '@HBCUGameday 16-0 Braves in 3rd Q.\n\n#UNCPvsSKEGEE', 'author_id': '346739599', 'id': '782310391372210176'}, {'created_at': '2016-10-01T20:05:06.000Z', 'text': '#swoopselfie @MiamiRedHawks https://t.co/1feFh790En', 'author_id': '343071585', 'id': '782310391300952065'}, {'created_at': '2016-10-01T20:05:06.000Z', 'text': '@mariasaleem101 ÿ¨⁄Øÿ± ⁄©€í ÿ®ÿ∫€åÿ± ÿßÿ® ⁄©€åÿß ⁄©ÿ±Ÿà ⁄Ø€åÿü', 'author_id': '2548627680', 'id': '782310391175143424'}, {'created_at': '2016-10-01T20:05:06.000Z', 'text': '@XESEBT whatcha think about a project featuring @lalolaXxXklitz', 'author_id': '1504385580', 'id': '782310391162417153'}], 'includes': {'users': [{'name': 'Goddessüåö‚ò™', 'created_at': '2016-03-10T03:52:54.000Z', 'id': '707776214233128960', 'username': 'goddesss233', 'location': 'Northern Maine'}, {'name': 'Janene', 'created_at': '2011-11-05T00:24:38.000Z', 'id': '405200920', 'username': 'JaneneMcGuire', 'location': 'Tulsa, Oklahoma'}, {'name': 'The Alabama Dream', 'created_at': '2010-03-31T02:20:13.000Z', 'id': '128088886', 'username': 'mrGREEN1017', 'location': 'Alabama, USA'}, {'name': 'MJB ü¶ã', 'created_at': '2011-04-23T22:20:27.000Z', 'id': '286887638', 'username': 'MJBODES7', 'location': 'Minnesota, USA'}, {'name': 'k8', 'created_at': '2011-07-22T04:35:53.000Z', 'id': '340109184', 'username': 'kprimm143', 'location': 'probably at a concert'}, {'name': 'Papi', 'created_at': '2012-11-20T03:48:47.000Z', 'id': '959526638', 'username': 'RocLaflare__', 'location': 'Detroit, MI'}, {'name': 'Christopher L Harris', 'created_at': '2011-08-01T19:23:08.000Z', 'id': '346739599', 'username': 'Chris_L_Harris', 'location': 'The Old North State'}, {'name': 'Morgan', 'created_at': '2011-07-27T01:05:46.000Z', 'id': '343071585', 'username': 'morgwog', 'location': 'Hilton Head Island, SC'}, {'name': 'Rafi', 'created_at': '2014-06-05T19:28:50.000Z', 'id': '2548627680', 'username': 'Rafi_AAA', 'location': 'Washington, DC'}, {'name': 'Sir AC  Chapman', 'created_at': '2013-06-11T15:49:11.000Z', 'id': '1504385580', 'username': 'siracchapman'}]}, 'meta': {'newest_id': '782310393062494208', 'oldest_id': '782310391162417153', 'result_count': 10, 'next_token': '1jzu9lk96gu5npw2ybl90s4gev48du1e6bexu091wqkd'}}
{'data': [{'text': 'Peyton manning is killing the commercial game', 'author_id': '307955682', 'created_at': '2016-10-01T20:05:06.000Z', 'id': '782310391145791488'}, {'text': '#JeddtheGyork #STLCards', 'author_id': '1393747201', 'created_at': '2016-10-01T20:05:06.000Z', 'id': '782310390390677512'}, {'text': 'So I was in a room with like 20 ppl and I was the only ‚ôìÔ∏èaka center of attention', 'author_id': '398020756', 'created_at': '2016-10-01T20:05:06.000Z', 'id': '782310390298451969'}, {'text': "@SkotDuran woah woah woah, all Gingers do not look alike! But they all don't have souls...", 'author_id': '61893203', 'created_at': '2016-10-01T20:05:06.000Z', 'id': '782310390185295872'}, {'text': "They all wanted food üòÇüòÇ But I didn't have any üêñüêêüêèüê™ @ Saint Francis‚Ä¶ https://t.co/7Vb6SP3C62", 'author_id': '373688471', 'created_at': '2016-10-01T20:05:06.000Z', 'id': '782310390063431680'}, {'text': 'üíÅüèæ https://t.co/x5kaRmhsIs', 'author_id': '2480563224', 'created_at': '2016-10-01T20:05:06.000Z', 'id': '782310389669244928'}, {'text': "Y'all never dated.", 'author_id': '445684638', 'created_at': '2016-10-01T20:05:06.000Z', 'id': '782310389627269120'}, {'text': "Tune your radio to 89.1 FM for some great rock!  I'm taking requests, so please call or text 630-637-8989 with your songs!  -- Herman", 'author_id': '172074294', 'created_at': '2016-10-01T20:05:06.000Z', 'id': '782310389551734784'}, {'text': "$5 before 11 if you're in pajamas. GET THERE EARLY https://t.co/vvXuN1APXj", 'author_id': '553036682', 'created_at': '2016-10-01T20:05:05.000Z', 'id': '782310388306149377'}], 'includes': {'users': [{'id': '307955682', 'location': 'Tallahassee, FL', 'username': 'peypeyy_', 'name': 'Peyton Smith', 'created_at': '2011-05-30T15:48:19.000Z'}, {'id': '1393747201', 'location': 'Lawrence', 'username': 'jbenny81', 'name': 'Joel Grillot', 'created_at': '2013-05-01T03:56:19.000Z'}, {'id': '398020756', 'location': 'Uptown Newport News', 'username': 'ThaAlmightyEazE', 'name': 'ThaAlmightyEazE', 'created_at': '2011-10-25T13:31:43.000Z'}, {'id': '61893203', 'username': 'fsubones', 'name': 'Anthony M. Davis', 'created_at': '2009-07-31T22:36:09.000Z'}, {'id': '373688471', 'location': 'Hagerstown, MD', 'username': 'bethanayyyy', 'name': 'Bethany', 'created_at': '2011-09-15T01:38:25.000Z'}, {'id': '2480563224', 'username': 'heavnly_bluntd', 'name': 'DSS Enthusiast üñ§', 'created_at': '2014-05-06T22:24:30.000Z'}, {'id': '445684638', 'location': 'United States.', 'username': 'chloeekramer', 'name': '‚Ä¢Chloee‚Ä¢', 'created_at': '2011-12-24T18:31:03.000Z'}, {'id': '172074294', 'location': 'Naperville, IL', 'username': 'requestWONC', 'name': 'WONC-FM 89.1', 'created_at': '2010-07-28T21:15:32.000Z'}, {'id': '553036682', 'location': 'Far Far Away', 'username': 'B00MMB_', 'name': 'Shannae‚ú®', 'created_at': '2012-04-13T21:55:43.000Z'}]}, 'meta': {'newest_id': '782310391145791488', 'oldest_id': '782310388306149377', 'result_count': 9, 'next_token': '1jzu9lk96gu5npw2ybl90s4gev36k8lz35lz4r24t4e5'}}

In [ ]:
df = pd.DataFrame(ret)

In [ ]:
df.head(5)

                 created_at  ...        author_location
0  2016-10-01T20:05:06.000Z  ...         Northern Maine
1  2016-10-01T20:05:06.000Z  ...        Tulsa, Oklahoma
2  2016-10-01T20:05:06.000Z  ...           Alabama, USA
3  2016-10-01T20:05:06.000Z  ...         Minnesota, USA
4  2016-10-01T20:05:06.000Z  ...  probably at a concert

[5 rows x 6 columns]

In [ ]:
def get_location(author_info):
    if 'location' in author_info:
        return author_info['location']
    return np.nan

In [ ]:
df['author_location'] = df['author_info'].apply(get_location)

In [ ]:
# remove authors w/o location
filtered_df = df.dropna()

In [ ]:
filtered_df.head(5)

                 created_at  ...                     author_long_lat
0  2016-10-01T20:05:06.000Z  ...     [-68.03425150000001, 46.694347]
1  2016-10-01T20:05:06.000Z  ...                 [-95.9251, 36.1012]
2  2016-10-01T20:05:06.000Z  ...   [-86.7892920871389, 32.828865808]
3  2016-10-01T20:05:06.000Z  ...  [-94.1991167709013, 46.3434063154]
4  2016-10-01T20:05:06.000Z  ...           [16.3572215, 48.20508725]

[5 rows x 7 columns]

In [ ]:
def get_long_lat(author_location):
    encoded_location = urllib.parse.quote_plus(author_location)
    url = f"https://api.mapbox.com/geocoding/v5/mapbox.places/{encoded_location}.json?access_token=pk.eyJ1IjoiYWxlam9leXphZ3VpcnJlIiwiYSI6ImNreGUzbnVuODR3NWwydXJuenE0NHdiOHoifQ.2q4pB6H2CO3oku4kWKLs7w"

    response = requests.request("GET", url, headers={}, data={})

    response = json.loads(response.text)
    if not len(response['features']):
        return np.nan
    long_lat = response['features'][0]['center']
    return long_lat

In [ ]:
filtered_df['author_long_lat'] = filtered_df['author_location'].apply(get_long_lat)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
filtered_df.dropna(inplace=True)   # drop places that mapbox couldnt find
filtered_df.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                 created_at  ...                     author_long_lat
0  2016-10-01T20:05:06.000Z  ...     [-68.03425150000001, 46.694347]
1  2016-10-01T20:05:06.000Z  ...                 [-95.9251, 36.1012]
2  2016-10-01T20:05:06.000Z  ...   [-86.7892920871389, 32.828865808]
3  2016-10-01T20:05:06.000Z  ...  [-94.1991167709013, 46.3434063154]
4  2016-10-01T20:05:06.000Z  ...           [16.3572215, 48.20508725]

[5 rows x 7 columns]

# parte 2

In [ ]:
def sxsw_followers(repeats=1, n_per_iter=5000):
    # n_per_iter between 10 and 5000
    all_followers = []
    payload={}
    headers = {
        'Authorization': 'Bearer AAAAAAAAAAAAAAAAAAAAAOPlVwEAAAAAtf8lx19Zs7sPbpF0aNEgpqESWyQ%3DHOjH5PbZpAhEUvdnhOFnk756pxFEiJw8jEghjDRQ2kgjPcUR2E',
        'Cookie': 'guest_id=v1%3A163996301247330763; guest_id_ads=v1%3A163996301247330763; guest_id_marketing=v1%3A163996301247330763; personalization_id="v1_9SgCIHHSmwVn1qJn43hrYg=="'
    }

    url = f"https://api.twitter.com/2/users/784304/followers?user.fields=location,created_at&max_results={n_per_iter}"
    response = requests.request("GET", url, headers=headers, data=payload)
    response = json.loads(response.text)
    all_followers.extend(response['data'])
    next_token = response['meta']['next_token']

    for _ in range(repeats - 1):
        url = f"https://api.twitter.com/2/users/784304/followers?user.fields=location,created_at&max_results={n_per_iter}&pagination_token={next_token}"
        response = requests.request("GET", url, headers=headers, data=payload)
        response = json.loads(response.text)
        all_followers.extend(response['data'])
        next_token = response['meta']['next_token']

    return all_followers

In [ ]:
followers_df = pd.DataFrame(
    sxsw_followers(repeats=2, n_per_iter=10)
)

In [ ]:
followers_df.dropna(inplace=True)

In [ ]:
followers_df.head(5)

                  name  ...                   id
0         Odinani_Band  ...  1354415352420184064
1    A Man Called Jack  ...   958070688987795456
2  Him Loves Treasure!  ...            514696296
4                Nesto  ...  1216497570194681856
7  Tim Mackenzie-Smith  ...            135197505

[5 rows x 5 columns]

In [ ]:
followers_df['author_long_lat'] = followers_df['location'].apply(get_long_lat)

In [ ]:
followers_df.dropna(inplace=True)   # drop places that mapbox couldnt find
followers_df.head(5)

                  name  ...                             author_long_lat
0         Odinani_Band  ...                         [-97.7437, 30.2711]
1    A Man Called Jack  ...                         [-87.0339, 39.4742]
2  Him Loves Treasure!  ...                         [-95.3677, 29.7589]
4                Nesto  ...                        [-122.0294, 36.9746]
7  Tim Mackenzie-Smith  ...  [-0.12764739999999997, 51.507321899999994]

[5 rows x 6 columns]